datasets/vw_bandit_dataset.dat
artifacts/models/vw_model/v1/model.pkl
# Byte-code cache
__pycache__/
*.py[cod]

# Virtual-envs
.venv/
.env/
env/
venv/

# VS Code
.vscode/

# OS artifacts
.DS_Store
Thumbs.db
artifacts/vw_model/v1/models/vw_model-v1.joblib
artifacts/
Pearl/